.popup__field-error {
  width: 100%;
  padding-top: 4px;
  border-top: 1px solid #FF0000;
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  display: none;
  transform: translateY(-1px);
  box-sizing: border-box;
}

/* .popup__input:invalid+.popup__field-error { */
input:invalid+.popup__field-error {
  display: block;
}
